body{
  margin: 0px;
  font-family: Roboto, Arial, Helvetica;
}
.header{
  text-align: center;
  height: 550px;
  padding: 12px;
  background-image: url("./images/p2.jpg");
  z-index: -1;
  opacity: 0.99;
}
.profile_image{
  margin-top: 10px;
  width:350px;
  height: 350px;
  border-radius: 50%;
  background-image: url('./images/profile2.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  margin-right: auto;
  display: inline-block;
}
.profile_image::after{
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: green;
  content: ' ';
  z-index: -1;
  transform: scale(1.02);
}
.profile_name{
  font-size: 45px;
  margin-top:15px;
  color: white;
  text-shadow: 0px 0px 4px #000;
}
.major_name{
  font-size: 30px;
  color: green;
  text-shadow: 0px 0px 2px #006400;
  scroll-behavior: smooth;
}
.about-me{
  background-color: #1E8449;
}
.about-me .tittle{
  margin-top: 0px;
}

.button-filter{
  background-color: #eee;
  color:#222;
  padding: 10px;
  border-radius: 2px;
  font-size: 1.5em;
  transition: all 0.4s;
  cursor: pointer;
  border: 1px;  
}
.button-filter.mixitup-control-active{
  /*background-color: #3b83db;*/
  background-color: #1E8449;
  box-shadow: 0px 7px 12px rgba(30, 132, 73, 0.5);
}
nav{
  text-align: center;
}
.card{
  display: inline-block;
  padding: 5px;
  border-radius: 0px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16), 0 5px 15px 0 rgba(0,0,0,0.12);
  width: 250px;
  height: 250px;
  text-align: center;
  color: #000000;
  background: #F3F3F3;
  margin: 0.5em;

}
.card img{
 
  width: 160px;
  height: 160px;

}
.container
{
  text-align: center;
}
.tittle
{
  font-family: Roboto, Arial, Helvetica;
  font-size: 50px;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 25px;
  color: white;
}
.skills{
  background-color: #ffff; 
}
.skills .tittle{
  color: black;
  font-weight: bold;
}
.proyects
{
  background-color: #1E8449;
}
.proyects .tittle{
  color: white;
  margin-left: 25px;
  margin-top: 30px;
}
.cardlist
{
  display: flex;
  justify-content: center;
  

}

.card-container
{
    font-family: Roboto, Arial, Helvetica;
    font-size: 60px;
    width: 400px;
    height: 250px;
    margin-left : 40px ;
    border-radius: 10px;
    perspective: 1400px;
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.16), 0 0px 15px 0 rgba(0,0,0,0.12); 
}

.card2
{
    position: relative;
    text-align: justify;
    height: 100%;

    border-radius: 10px;

    width: 100%;
    transform-style: preserve-3d;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 0px 20px 0 rgba(0,0,0,0.12);

}

.front,
.back
{
    display: flex;

    width: 100%;
    height: 100%;
    border-radius: 3px;

    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    padding: 7px;
}

.front
{
    color: black;
    background: #fff;

}

.back
{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    transform: rotateY(180deg);
    color: #fff;
    background: #424242;
    padding: 25px;
}
.icon
{
  width: 200px;
  height: 200px;

}
.icon2
{
  width: 430px;
  height: 320px;

}

.prueba{
  display: inline-block;
  color: #fff;
  font-size: 30px;
  font-family: Roboto, Arial, Helvetica;
  margin-left: 10px;
}

.tales {
  width: 100%;
  
}
.carousel-inner{
  width:100%;
  max-height: 650px !important;
}
p{
  font-size: 25px;
  text-align: justify;
}
.volunteering .tittle{
  color: black;
}
.bg-dark{
  background-color:#1E8449;
  color: white; 
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 0px 20px 0 rgba(0,0,0,0.12);
}
.proyects p{
  margin-left: 15px;
  color: white;
  text-align: center;
  font-size: 25px;
}
.about-me p{
  padding: 52px;
  color: white;
  font-size: 25px;
  justify-content: center;
  width: 20%;
}



  